.custom-card{
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--base-box-shadow);
    height: 50px;
    margin: 0px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    transition: 0.5s;
    border: 2px solid transparent;
}

.custom-card:hover{
    box-shadow: none;
    border: 2px solid var(--base-blue);
}

.custom-card input{
    border: none;
    border-bottom: 2px solid transparent;
    outline: none!important;
    transition: 0.5s;
}

.custom-card input:hover,
.custom-card input:focus{
    border-bottom: 2px solid var(--base-blue);
}